/*-----------------body and base measurements*/

body {
    padding: 0 0;
    margin: 0 0;
}

/*----------------------------------------images*/

.band-profile-image {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url("../images/scorpions1.jpg");
    background-color: #cccccc;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
   /* transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;*/
}

.band-main-heading {
    height: 43px;
}

.heading, .band-main-heading {
    /*image file*/
    padding: 5px;
    margin-left: 0px;
}

.footer-logo {
    height: 70px;
    margin-top: 30px;
    margin-left: 0;
}

.album img {
    width: 100px;
}

/*---------------------------background colours*/

header, footer {
    background-color: #191919;
}
.menu-links {
    padding-left: 0;
    padding-right: 0;
}
.menuitem {
    background-color: #ad2d2d;
     transition: background-color .5s;
    -webkit-transition:background-color .5s; /* Safari */
    -moz-transition: background-color .5s;
}
.menuitem:hover {
    background-color: #F5E44C;
}

.home-page {
    background-color: #404040;
}
section, .music-page, .photos-page, .hire-page {
     background-color: #ad2d2d;
}
.main-section {
    background-color: #404040;
}
/*image page*/
.modal-content {
    background-color: black;
}
.mySlides{
    background-color: #ad2d2d;
}

.song-sample-list {
    background-color: #ad2d2d;
}

.tour-dates-list, .tour-dates-list .list-group .list-group-item {
    background-color: #F5E44C;
}
.available-dates-list, .available-dates-list .list-group .list-group-item {
    background-color: #87D37C;
}

/*-------------------------------------heading*/

header {
    padding: 0 0;
    margin: 0 0;
    border-bottom: 1px solid #191919;
}

.band-sub-heading {
    color: #ffffff;
    padding: 0 0 0 20px;
    margin-left: 0 0 0 15px;
}

.menu-links .list-inline {
    margin-left: 0 !important;
}

.menuitem{
    height: 40px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 100px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}

.music-links a i {
    font-size: 35px;
    padding: 20px 15px 0 15px;
    float: right;
} 

/*--------------------------------------footer*/

footer {
    padding-left: 0;
}
footer h5 {
   /* font-size: 30px;*/
    color: #bdc3c7;
    padding: 5px 0 5px 5px;
} 

.footer-logo-div {
    padding-top: 24px;
    padding-left: 0;
    margin-left: 0;
}

.social-media-links li a i {
    font-size: 30px;
    padding: 5px;
}


/*-----------------------------------External links (home page, music page, header and footer)*/
/*.hvr-sweep-to-bottom:before{
    background: rgba(0,0,0,0.2);
    height: 40px;
}*/

.music-links a i, .social-media-links li a i, .album-details a i {
    color: #ad2d2d;
}
.music-links a i:hover, .social-media-links li a i:hover, .album-details a i:hover {
    color: #F5E44C;
}

/*-----------------------------------------------------home page*/
/*used to display an intro duction to the band and a promo video*/

.main-section{
    height: 100%;
   /* background-color: red;*/
    color: #ffffff;
}

.about{
   /* margin: 15px 15px;*/
    padding-top: 15px;
}

.video {
    padding-top: 15px;
    margin: 0 auto;
}

.video, .video iframe {
    width: 100%;
    height: 100%;
}


/*---------------------------------promotions*/
/*promotes tour dates and songs from latest album*/
.promotions {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/*---------------------------------Music (for Home Page and Music Page )*/
    /*---home page*/
.song-sample-list {
    color: #F5E44C;
    height: 100%;
    /*background-color: green;*/
    margin-top: 0;
    padding: 20px 10px 25px 10px;
}

.song-sample-list h3 {
    padding: 0 0 0 30px;
    margin-top: 0;
}

.track {
    width: 290px;
    margin-left: 5%;
}

.track h4 {
    margin-left: 5px;
}

.controls {
    width:100%;
}
    /*----music page*/
.music-page, .music-page .main-section {
    padding: 0;
}
.music-page {
    margin: 0 0;
}

.album {
    padding: 10px 0px;
    display: block;
    height: auto;
    border-bottom: solid 1px  #191919;
}

.album-details {
    margin: 0 auto;
    padding: 0 auto;
}

.album-details img {
    margin-right: 5px;
    float: left;
}
.album-details h5, .album-details a i {
    margin-top: 2px;
    /*float: left;*/
}

.album-details a i {
    color: #ad2d2d;
    font-size: 35px;
    padding: 0px 0px 0px 20px;
}

.album-tracks .controls {
    max-width: 294px;
}

/*tour date list and available dates list (home and hire pages)*/

.tour-dates-list, .available-dates-list {
    color: #680000;
    height: 100%;
}

.list-group-item {
  /*  background-color: yellow;*/
    border: 0px solid #404040;
    border-bottom: 2px solid #404040;
}

.last-item {
    border-bottom: 0;
}

/*-----------------------------photo page--*/

.photos-page .main-section h3 {
    margin-top: 0;
    padding-top: 20px;
}
.photos-page .main-section {
    padding-bottom: 23px;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*--.column {
orginally from W3 Schools
  float: left;
  width: 25%;
}*/

.photo-preview {
    padding: 5px 5px;
}
.photo-preview img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 0 0; 
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  /*background-color: #fefefe;*/
  margin: 0 auto;
  width: 100%;
  padding: 0;
  max-width: 1200px;
}
.mySlides {
    width: auto;
    height: auto;
    /*background-color: blue;*/
    position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.mySlides img {
  max-width:100%; 
  max-height: 700px
} 

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  padding-right: 30px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*img {
  margin-bottom: -4px;
}*/

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*img.hover-shadow {
  transition: 0.3s;
}*/

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----------------------------------------------Hire Page*/

.hire-page .main-section {
    padding: 15px 0;
}

.contact-form {
    margin: 10px 0 15px;
}
.first-form-group {
    margin-top: 10px;
}

/*----------------------------media queries*/

@media (min-width: 400px) {
    
    .band-main-heading {
        height: 50px;
    }
    
    .heading, .band-main-heading {
        padding: 5px;
        margin-left: 0px;
    }
    
    .track {
        width: 300px;
        margin-left: 10%;
    }
    
    .video, .video iframe {
        width: 100%;
        height: 250px;
        margin: 0 0;
    }
    
    .music-links a i {
        font-size: 42px;
        padding: 22px 15px 0 15px;
        float: right;
    }
    
    .footer-logo {
        height: 80px;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .social-media-links li a i {
        font-size: 32px;
        padding: 5px;
    }
    
    /*music page*/
    .album {
        padding-left: 15px;
    }
   .album-details img {
        width: 140px;
    }
    
    .album-details h5 {
        font-size: 1.7rem;
    }
    .album-details a i {
        font-size: 42px;
    }
    .album-tracks{
        padding-left: 5%;
    }
    .album-tracks .controls {
        max-width: 320px;
    }
    /*photo page*/
    .prev,
    .next {
      top: 35%;
    }
    
} 

@media (min-width: 504px) {
    
    .band-main-heading {
        height: 50px;
    }
    
    .heading, .band-main-heading {
        padding: 5px;
        margin-left: 0px;
    }
    
    .music-links a i {
        font-size: 42px;
        padding: 22px 15px 0 15px;
        float: right;
    }
    
    .track {
        width: 300px;
        margin-left: 15%;
    }
    
    .video, .video iframe {
        width: 460px;
        height: 300px;
         margin: 0 auto;
        position: center;
    }
    
    .footer-logo {
        margin: 0 0 0 0;
        padding-top: 0 0 7px 0;
        height: 90px;
    }
    
    .social-media-heading {
        padding-top: 25px;
    }
    
    .social-media-links li a i {
        font-size: 32px;
        padding: 5px;
    }
    .album-details {
        margin-left: 0;
    }
    .album-details h5 {
        font-size: 2rem;
    }
    .album-tracks {
        padding-left: 15%;
    }
    
    /*photo page*/
        .photo-preview img {
        height: 150px;
    }
    .prev,
    .next {
      top: 40%;
    }
} 

@media (min-width: 768px) {
    
    .band-main-heading {
        height: 60px;
    }
    
    .heading, .band-main-heading {
        padding: 5px;
        margin-left: 0px;
    }
    
    .heading p {
        font-size: 14px;
    }
    
    .video {
        padding: 15px 0 0 0px;
        margin: 0 auto;
        
    }
    
    .about{
        margin-top: 15px;
        padding: 15px 6% 5px 6%;
    }

    .track {
        width:100%;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .music-links a i {
        font-size: 50px;
        padding: 22px 15px 0 15px;
        float: right;
    }
  
    .footer-logo-div {
        padding-top: 19px;
        padding-left: 0;
        margin-left: 0;
    }
    
    .footer-logo {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        height: 90px;
    }
    
    .social-media-heading {
        padding-top: 0;
    }
    
    .social-media-links li a i {
        font-size: 30px;
        padding: 5px;
    }
    /*---music page*/
    
    .album-details {
        padding: 15px 10px 0;
        margin-left: 0;
    }
    
    .album-details img {
        width: 180px;
        margin-left: 15px;
    }
    
    .album-details h5, .album-tracks h5 {
        padding-top: 5px;
        font-size: 1.5rem;
    }
    
    .album-tracks {
        padding-top: 7px;
        padding-left: 15px;
    }
    
    /*photo page*/
    
    .photo-preview img {
        height: 150px;
    }
    .prev,
    .next {
      top: 50%;
    }
}

@media (min-width: 991px) {
    
    .footer-logo-div {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0;
    }
    
    .footer-logo {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        height: 90px;
    }
    
    .album-details {
        padding: 15px 15px 0;
        margin-left: 0;
    }
    
    .album-details img {
        width: 180px;
    }
    
    .album-details h5 {
        padding-top: 5px;
        font-size: 1.5rem;
    }
    
    .album-tracks {
        padding-left: 10px;
    }
    
    /*photos page*/
        .next {
        margin-right: 4%
    }
    
}