/*-----------------body and base measurements*/
* {
  margin: 0;
  padding: 0;
}

/*
https://stackoverflow.com/questions/18739937/how-to-keep-footer-at-bottom-of-screen
*/
html {
  height: 100%;
}

body {
    min-height: 100vh;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
header {
    position: relative;
    margin: 0 0;
}

footer {
 position: relative;
  margin-top: -154px;
  /* negative value of footer height */
  height: 156px;
  clear: both;
}

section {
    margin-top: -151px;
    padding-top: 151px;
    padding-bottom: 154px;
    min-height: inherit;  /*large lenghts at 100vm*/
    width: auto;
}


.home-page, .photos-page, .music-page, .hire-page {
  /*overflow: auto;*/
  padding-bottom: 0px;
  width: inherit;
  /*padding-top: 290px;*/
  /* must be same height as the footer */
}

/*---------------------------background colours*/

header, footer {
    background-color: #191919;
}
.menu-links {
    padding-left: 0;
    padding-right: 0;
}
.menuitem {
    background-color: #882C22; /*#ad2d2d;*/
     transition: background-color .5s;
    -webkit-transition:background-color .5s; /* Safari */
    -moz-transition: background-color .5s;
}
.menuitem:hover {
    background-color: #FFDE00;
}
.current-page {
    background-color: #AB4B41;
}
.message-button {
    background-color: #008BFF;
}
.message-button:hover {
    background-color: #FFDE00;
}

.home-page {
    background-color: #404040;
}
.other-page-container, .music-page, .photos-page, .hire-page {
     background-color: #882C22; /* #ad2d2d;*/
}
.home-page-container, .main-section, .home-page {
    background-color: #3F3F3F; /*#404040;*/
}
/*image page*/
.modal-content, .mySlides {
    background-color: black;
}

.song-sample-list {
    background-color: #882C22;
}

.tour-dates-list, .tour-dates-list .list-group .list-group-item {
    background-color: #E7B340;
}
.available-dates-list, .available-dates-list .list-group .list-group-item {
    background-color: #2DA267;
}

/*----------------------------------------images*/

.band-profile-image {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url("../images/scorpions1.jpg");
    background-color: #cccccc;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
}

.band-main-heading {
    height: 43px;
}

.heading, .band-main-heading {
    /*image file*/
    padding: 5px;
    margin-left: 0px;
}

.footer-logo {
    height: 65px;
    margin-top: 0;
    margin-left: 0;
}

.album img {
    width: 100px;
}

/*-----------------------------------External link colors (home page, music page, header and footer)*/

.music-links a i, .social-media-links li a i, .album-details a i {
    color: #882C22;
}
.music-links a i:hover, .social-media-links li a i:hover, .album-details a i:hover {
    color: #FFDE00;/*#FFD100;*/
}

/*-------------------------------------heading*/

header {
    padding: 0 0;
    border-bottom: 1px solid #191919;
}

.band-sub-heading {
    color: #ffffff;
    padding: 0 0 0 10px;
}

.menu-links .list-inline {
    margin-left: 0px !important;
}

.menuitem {
    height: 40px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 100px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
}

.music-links a i {
    font-size: 35px;
    padding: 20px 0px 0 15px;
    float: right;
} 

/*--------------------------------------footer*/

footer {
    padding-left: 0;
}
footer h5 {
   /* font-size: 30px;*/
    color:  #7C7C7C; /*#bdc3c7;*/
    padding: 0 0;
} 

.footer-logo-div {
    padding-top: 5px;
    padding-left: 0;
    margin-left: 0;
}

.social-media-links {
    margin-top: 20px;
    padding-left: 15px;
}
.social-media-links li a i {
    font-size: 30px;
}
    /*padding: 5px;
}
/*-----------------------------------------------------home page*/
/*used to display an intro duction to the band and a promo video*/

.main-section{
    height: 100%;
   /* background-color: red;*/
    color: #ffffff;
}

.about{
   /* margin: 15px 15px;*/
    padding-top: 15px;
}

.video {
    padding-top: 15px;
    margin: 0 auto;
}

.video, .video iframe {
    width: 100%;
    height: 100%;
}


/*---------------------------------promotions*/
/*promotes tour dates and songs from latest album*/
.promotions {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/*---------------------------------Music (for Home Page and Music Page )*/
    /*---home page*/
.song-sample-list {
    color: #ffffff; /*header of column*/
    height: 100%;
    /*background-color: green;*/
    margin-top: 0;
    padding: 20px 10px 25px 10px;
}

.track {
    color: #00E5BF;
}

.song-sample-list h3 {
    padding: 0 0 0 30px;
    margin-top: 0;
}

.song-sample-list .track {
    max-width: 290px;
    margin: 0 auto;
}

.song-sample-list .track h4 {
    margin-left: auto;
}

.song-sample-list .track .controls {
    width:100%;
}

/*-------------------music page*/
.music-page, .music-page .main-section {
/*width: 100%;*/
padding: 0 0;
}

.music-page {
    margin: 0 0;
    padding: 0 0;
}

.album {
    padding: 15px 0px;
    margin: 0px 0px;
    width: 100%;
    border-bottom: solid 1px  #191919;
}

.album-tracks h5 {
    color: #00E5BF;
}

.album-tracks h5, .album-tracks .track {
    max-width: 300px;
    margin: 5px auto;
}
.album-tracks .track .controls {
    width: 100%;
}
/*.album-details {
    width: auto;
}*/

.album-details .content {
    width: 288px;
    margin: 0 auto;
    display:block;
}

.album-details .content img {
    margin: 0 auto;
    width: 30%;
    float: left;
}
.album-details .content h5 {
    margin-left: 3px;
    width:65%;
    display: inline-block; 
}

.album-details .content h5, .album-details .content a i {
    margin-top: 2px;
}

.album-details .content a i {
    font-size: 35px;
    padding: 0px 0px 0px 40px;
}


/*tour date list and available dates list (home and hire pages)*/

.gig-availability {
    padding-left: 0px;
    padding-right: 0px;

}
.gig-availability .list-group {
    margin-bottom: 0px;
}
.tour-dates-list, .available-dates-list {
    color: #5C2516;
    height: 100%;
}

.list-group-item {
  /*  background-color: yellow;*/
    border: 0px solid #404040;
    border-bottom: 2px solid #404040;
}

.last-item {
    border-bottom: 0;
}
/*-----------------------------------hire page-*/
/*-message-form-*/

.hire-page .main-section {
    padding: 15px 0px 0px;
}

.message-button {
    color: white;
}

/*-----------------------------photo page--*/

.photos-page .main-section h3 {
    margin-top: 0;
    padding-top: 20px;
}
.photos-page .main-section {
    padding-bottom: 23px;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*--.column {
orginally from W3 Schools, removed to add Bootstrap columns instead
  float: left;
  width: 25%;
}*/

.photo-preview {
    padding: 5px 5px;
}
.photo-preview img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 0 0; 
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  max-height: auto;
  overflow: hidden;
}
/*.modal{
    overflow:hidden;
    }
    .modal-body{
    overflow:auto;
    }
*/
/* Modal Content */
.modal-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0;
  /*max-width: 1200px;*/
  /*overflow: scroll;*/
}

.mySlides {
    width: inherit;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    background-color: black;
}

.selected-slide {
    background-color: black;
    height: inherit;
    width: inherit;
    
}

.mySlides img {
  max-width:100%; 
  max-height: 300px;
} 

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  opacity: .8; /*brightened for user clarity*/
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*img {
  margin-bottom: -4px;
}*/

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*img.hover-shadow {
  transition: 0.3s;
}*/

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal, .modal-content, .mySlides, .selected-slide, .caption-container {
    background-color: black;
}

/*-----------------------------------------------Hire Page*/

    .hire-page .main-section {
        padding: 15px 0 0;
    }
    .contact-form {
        margin: 10px 0 15px;
    }
    .first-form-group {
        margin-top: 10px;
    }


/*----------------------------media queries*/

@media (min-width: 400px) {
    
    .band-main-heading {
        height: 50px;
    }
    
    .heading, .band-main-heading {
        padding: 5px;
        margin-left: 0px;
    }
    
    .track {
        width: 300px;
        /*margin-left: 10%;*/
    }
    
    .video, .video iframe {
        width: 100%;
        height: 250px;
        margin: 0 0;
    }
    
    .music-links a i {
        font-size: 42px;
        padding: 22px 15px 0 15px;
        float: right;
    }
    
    .footer-logo {
        height: 80px;
        margin-top: 0px;
        margin-left: 0;
    }
    .social-media-links {
        padding-left: 30px;
    }
    .social-media-links li a i {
        font-size: 36px;
        padding: 6px;
    }
    
    /*home page*/
    
    .promotions .song-sample-list,
    .promotions .tour-dates-list {
        margin: 0 5%;
    }
    
    /*music page*/
    .album {
        padding: 15px 0;
    }
    
    .album-details .content {
        width: 365px;
    }
    
   .album-details .content img {
        width: 140px;
    }
    
    .album-details .content h5 {
        font-size: 1.7rem;
           margin-left: 4px;
           width: auto;
    }
        
    .album-details .content a i {
        font-size: 42px;
    }
    .album-tracks h5 {
        font-size: 1.7rem;
    }
    /*photo page*/
    
    .mySlides img {
      max-height: 400px;
    } 
    
    .selected-slide {
        height: 440px;
    }
    
    .prev,
    .next {
      top: 30%;
    }
    /*hire page*/
    .hire-page .main-section {
        padding: 15px 5% 0;
    }
    
} 

@media (min-width: 504px) {
    
    .band-main-heading {
        height: 50px;
    }
    
    .heading, .band-main-heading {
        padding: 5px;
        margin-left: 0px;
    }
    
    .music-links a i {
        font-size: 42px;
        padding: 22px 15px 0 15px;
        float: right;
    }
    
    .about {
        margin: 0 5%;
    }
    
    .promotions .song-sample-list,
    .promotions .tour-dates-list {
        margin: 0 8%;
    }
    
    .song-sample-list .track {
        width: 100%;
      /*  margin-left: 15%;*/
    }
    
    .video, .video iframe {
        width: 460px;
        height: 300px;
        margin: 0 auto;
       /* position: center;*/
    }
    
    .footer-logo {
        margin: 0 0 0 0;
       /* padding-top: 0 0 7px 0;*/
        height: 90px;
    }
    .social-media-heading {
        padding-top: 25px;
    }
    
    /*photo page*/
    .photo-preview img {
        height: 150px;
    }
    
    .selected-slide {
        height: 540px;
    }
    
    .mySlides img {
      max-height: 500px;
    } 
    
    .prev, .next {
        top: 35%;
    }
    
    .hire-page .main-section {
        padding: 15px 6% 0;
    }
} 

@media (min-width: 768px) {
    .band-main-heading {
        height: 60px;
    }
    .heading, .band-main-heading {
        padding: 5px;
        margin-left: 0px;
    }
    .heading p {
        font-size: 14px;
    }
    .video {
        padding: 15px 0 0 0px;
        margin: 0 auto;
    }
    .about{
        margin: 15px 0 0 0;
        padding: 15px 6% 5px 6%;
    }
    .promotions .song-sample-list,
    .promotions .tour-dates-list {
        margin: 0 0;
    }
    .promotions .song-sample-list {
          padding: 5px 5px;
    }
    .promotions .tour-dates-list {
        padding: 0 0;
    }
    .music-links a i {
        font-size: 50px;
        padding: 22px 15px 0 15px;
        float: right;
    }
    .footer-logo-div {
        padding-top: 0;
        padding-left: 0;
        margin-left: 0;
    }
    .footer-logo {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        height: 107px;
    }
    .social-media-links li a i {
        /*font-size: 38px;*/
        padding: 10px;
        margin-top: 5px;
    }
    /*---music page*/
    
   .album {
        padding: 0 0;
    }
    .album-tracks {
        margin: 10px auto;
    }
    .album-tracks .track {
        margin: 0px auto;
    }
    .album-tracks h5 {
        margin: 1px auto;
    }
    .album-details {
        padding: 10px 10px 5px;
    }
    .album-details .content {
        width: 400px;
        margin: 0 0;
        margin-left: 10px;
    }
    .album-details .content img {
        width: 170px;
    }
    .album-details .content h5 {
        width: auto; 
    }
    .album-details .content h5{
        padding-top: 5px;
    }
    
  /*photo page*/
  .photo-preview img {
        height: 100px;
    }
    .prev, .next {
        top: 40%;
    }
    /*page heights */
    section {
        margin-top: -151px;
        padding-top: 151px;
        padding-bottom: 107px;
        min-height: inherit;  /*large lenghts at 100vm*/
        width: auto;
    }
    
    footer {
      margin-top: -107px;
      /* negative value of footer height */
      height: 107px;
       z-index: 1; 
    }
    header {
      z-index: 1;
    }
    .modal { /*photo page*/
        z-index: 2;
    }

    .home-page, .music-page, .photos-page, .hire-page, .main-section {
        height: 100vh;
        margin-bottom: -107px;
        margin-top: -151px;
    }
    /*.home-page, .home-page .main-section, */.photos-page, .photos-page .main-section {
        padding-top: 151px; 
    }
    
    .home-page, .home-page .main-section, .music-page, .music-page .main-section, .hire-page, .hire-page .main-section {
        padding: 151px 0 0 0; /*padding was previously set*/
      /* padding-top: 151px;*/
    }
    .home-page, .home-page .main-section {
          min-height: 902px;
    }
    .home-page .promotions .tour-dates-list {
        height: 100%;
    }
   .music-page, .music-page .main-section {
          min-height: 840px;
    }
    .photos-page, .photos-page .main-section {
          min-height: 700px;
    }
    .hire-page, .hire-page .main-section {
          min-height: 1070px;
    }
    /*
    .hire-page .main-section {
        padding: 151px 0 0 0;
        /*margin-top: -151px;*//*
    }*/
}
@media (min-width: 785px) {
     .hire-page, .hire-page .main-section {
          min-height: 1065px;
    }
}
@media (min-width: 803px) {
     .hire-page, .hire-page .main-section {
          min-height: 1040px;
    }
}
/*@media (min-width: 930px) {
     .hire-page, .hire-page .main-section {
          min-height: 1030px;
    }
}*/

@media (min-width: 991px) {
    
  /*  .album-details {
        padding: 15px 15px 0;
    }
    
    .album-details .content img {
        width: 175px;
    }
    
    .album-tracks {
        padding-left: 10px;
    }*/
    
    /*photos page*/
        .next {
        margin-right: 4%
    }
    
}

@media (min-width: 930px) {
     .hire-page, .hire-page .main-section {
          min-height: 1030px;
    }
}